# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
backend/venv/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Node
node_modules/

# Build
dist/
build/

# IDE
.vscode/
.idea/


# Generated images
backend/uploads/
backend/processed/
backend/out.png

